<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%- include('./partials/head') %>

<body>
	<!-- Header -->
	<%- include('./partials/headerNoLogueado')%>
	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Ingresar</h2>
			</div>
			<!-- Show the "ultimos" products -->
			
			<form class="form" action="signIn" method="post">
				<div class="mb-3">
					<label for="exampleFormControlInput1" class="form-label">Ingrese nombre de usuario</label>
					<input class="form-control form-control-lg" type="text" name="user" placeholder="Ingresá tu usuario">
				</div>
				<div class="mb-3">
					<label for="exampleFormControlInput1" class="form-label">Ingrese contraseña</label>
					<input class="form-control form-control-lg" type="password" name="password" placeholder="Ingresá tu contraseña">
				</div>
				<div class="mb-3">
					<button class="btn btn-secondary btn-lg" type="submit">Iniciar sesión</button>
				</div>
			</form>
		</div>




	<!-- footer -->
	<%- include('./partials/footer') %> 
	<!-- /footer -->
</body>

</html>