<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%- include('./partials/head') %>

<body>
	<!-- Header -->
	<%- include('./partials/headerLogueado') %>

	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Agregar productos</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<!-- <h2 class="col-12"> <i>///////////////////////////////////////// <br> Acá va el formulario para agregar prodcutos al catálogo. <br>
			Debe cumplir con los puntos de la consigna y ser coherente con la tabla de la base de datos. <br>
			Eliminen estás líneas y coloquen el formulario. <br>
			Recuerden todo lo que necesita tanto la etiqueta form como los campos input para operar correctamtente</i> <br>
			////////////////
			</h2> -->
			<div class="row">
				<!-- Show the "ultimos" products -->
				<form class="form" action="/users/login" method="get">
					<div class="mb-3">
						<label for="nombre" class="form-label">Nombre Del Producto</label>
						<input class="form-control form-control-lg" type="text" name="nombre" id="nombre" placeholder="Ingresá tu nombre">
					</div>
					
					<div class="mb-3">
						<label for="descripcion" class="form-label">Descripcion del producto</label>
						<input class="form-control form-control-lg" type="text" name="apellido" id="apellido" placeholder="Ingresá tu apellido">
					</div>
					<div class="mb-3">
						<label for="imagen" class="form-label">Insertar imagen del Producto</label>
						<input class="form-control form-control-lg" type="file" name="imagen" id="imagen" placeholder="Insertar imagen">
					</div>
					
					
					<div class="mb-3">
						<button class="btn btn-secondary btn-lg" type="submit">Agregar Producto</button>
					</div>
				</form>
			</div>
			


	<!-- footer -->
	<%- include('./partials/footer') %> 
	<!-- /footer -->
</body>

</html>