<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%- include('./partials/head') %>

<body>
	<!-- Header -->
	
	<%- include('./partials/headerLogueado') %>
	
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Editar mi perfil</h2>
			</div>
			<!-- Show the "ultimos" products -->

			<div class="row">
				<!-- Show the "ultimos" products -->
				<form class="form" action="/users/login" method="get">
					<div class="mb-3">
						<label for="nombre" class="form-label">Nombre</label>
						<input class="form-control form-control-lg" type="text" name="nombre" id="nombre" placeholder="Ingresá tu nombre">
					</div>
					
					<div class="mb-3">
						<label for="apellido" class="form-label">Apellido</label>
						<input class="form-control form-control-lg" type="text" name="apellido" id="apellido" placeholder="Ingresá tu apellido">
					</div>
					<div class="mb-3">
						<label for="nombreusuario" class="form-label">Nombre De Usuario</label>
						<input class="form-control form-control-lg" type="text" name="nombreusuario" id="nombreusuario" placeholder="Ingresá tu nombre de Usuario">
					</div>
					<div class="mb-3">
						<label for="imagen" class="form-label">Foto de perfil</label>
						<input class="form-control form-control-lg" type="file" name="imagen" id="imagen" placeholder="Insertar imagen">
					</div>
					<div class="mb-3">
						<label for="fechaNacimiento" class="form-label">Fecha de Nacimiento</label>
						<input class="form-control form-control-lg" type="date" name="fechaNacimiento" id="fechaNacimiento" placeholder="Ingresá tu apellido">
					</div>
					<div class="mb-3">
						<label for="telefono" class="form-label">Telefono</label>
						<input class="form-control form-control-lg" type="text" name="telefono" id="telefono" placeholder="Ingresá tu numero telefónico">
					</div>
					<div class="mb-3">
						<label for="email" class="form-label">Email</label>
						<input class="form-control form-control-lg" type="text" name="email" id="email" placeholder="Ingresá tu Email">
					</div>
					<div class="mb-3">
						<label for="password" class="form-label">Contraseña</label>
						<input class="form-control form-control-lg" type="text" name="password" id="password" placeholder="Insertá tu Contraseña">
					</div>
					
					<div class="mb-3">
						<button class="btn btn-secondary btn-lg" type="submit">Modificar Datos</button>
					</div>
				</form>
			</div>


	<!-- footer -->
	<footer class="main-footer">
		<div class="container">
			<div class="row">
				<div class="col-12 col-lg-4">
					<article class="footer-data">
						<i class="fas fa-credit-card"></i>
						<h2>Pagá con tarjeta o en efectivo</h2>
						<p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago.
							¡Y
							siempre es seguro!</p>
					</article>
				</div>
				<div class="col-12 col-lg-4">
					<article class="footer-data">
						<i class="fas fa-gift"></i>
						<h2>Envío gratis desde $ 1.999</h2>
						<p>Solo por estar registrado en Mercado Liebre tenés envíos gratis en miles de productos. Es un
							beneficio de Mercado Puntos.</p>
					</article>
				</div>
				<div class="col-12 col-lg-4">
					<article class="footer-data">
						<i class="fas fa-user-shield"></i>
						<h2>Seguridad, de principio a fin</h2>
						<p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás
							siempre protegido.</p>
					</article>
				</div>
			</div>
		</div>
	</footer>
	<!-- /footer -->
</body>

</html>